@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Montserrat, "sans-serif";
  -webkit-tap-highlight-color: none;
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background: #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  margin-top: 4em;
}

.container {
  width: 50vh;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-columns: (75px)[4];
      grid-template-columns: repeat(4, 75px);
  -ms-grid-rows: minmax(120px, auto) (75px)[6];
      grid-template-rows: minmax(120px, auto) repeat(6, 75px);
  -webkit-filter: drop-shadow(4px 5px 5px rgba(170, 150, 150, 0.514)) drop-shadow(-4px -5px 4px #fff);
          filter: drop-shadow(4px 5px 5px rgba(170, 150, 150, 0.514)) drop-shadow(-4px -5px 4px #fff);
}

.container > button {
  outline: none;
  border: none;
  background: #f1f1f1;
  font-size: 1.25rem;
  cursor: pointer;
}

sup {
  font-size: 0.7rem;
}

.numbers {
  font-weight: bold;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.numbers:active {
  -webkit-box-shadow: inset 4px 4px 8px #acaaaa7c, inset -4px -4px 8px #fff;
          box-shadow: inset 4px 4px 8px #acaaaa7c, inset -4px -4px 8px #fff;
}

.operand,
.negation {
  color: #aa5e16;
  font-weight: bold;
}

.operand:hover:active,
.negation:hover:active {
  -webkit-box-shadow: inset 4px 4px 8px #acaaaa7c, inset -4px -4px 8px #fff;
          box-shadow: inset 4px 4px 8px #acaaaa7c, inset -4px -4px 8px #fff;
}

.delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clear,
.delete {
  color: #1d2cfd;
  font-weight: bold;
}

.clear:active,
.delete:active {
  -webkit-box-shadow: inset 4px 4px 8px #acaaaa7c, inset -4px -4px 8px #fff;
          box-shadow: inset 4px 4px 8px #acaaaa7c, inset -4px -4px 8px #fff;
}

.container .double-width {
  grid-column: span 2;
}

.container .double-width:active {
  -webkit-box-shadow: inset 4px 4px 8px #acaaaa7c, inset -4px -4px 8px #fff;
          box-shadow: inset 4px 4px 8px #acaaaa7c, inset -4px -4px 8px #fff;
}

.equal {
  font-weight: bold;
  color: #706b1b;
}

.display-container {
  background: rgba(0, 0, 17, 0.85);
  padding: 0.5em;
  grid-column: 1/-1;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.previous-content {
  letter-spacing: 0.1rem;
  color: rgba(165, 253, 0, 0.6);
}

.current-content {
  font-size: 1.6rem;
  font-weight: bolder;
  letter-spacing: 0.15rem;
  color: #c8ff00;
  word-wrap: break-word;
  word-break: break-all;
}

footer {
  font-size: 1.2rem;
  margin-bottom: 2em;
  text-align: center;
}

footer i {
  font-size: 1.25rem;
}
